 /* 
    Created on : Mar 14, 2020, 1:36:35 PM
    Author     : Lahiru Sanka
*/
#mainHeader{
    background-color: #1a385b;
    width:  97%;
    height: 40px;
    margin: 0px 20px 0px 20px;
}
#Htext{
    color: white;
    margin : 4px 0px 0px 34%;
    
     
}
#hrline{
    width: 98.3%;
    background-color: #160d84;
    height: 4px;
    margin : 10px 20px 0px 0px;
    
}

#logo{
    color: white;
    size: 25px;
    margin-left: 50px;
}
#headbdy{
    width: 97%;
    background-color: #dadbe3;     
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
    padding-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0px 21px 0px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #081857bd;
  height: 40px;
  width: 98.3%;
}

li {
  float: left;
  border-right:1px solid #bbb;
  line-height: 1.9;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:  5px 9%;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #24415e;
}
li a:hover {
    color: #0056b3;
    text-decoration: none;
}

.active {
  background-color: #4CAF50;
}




