/* 
   Created on : Mar 14, 2020, 2:47:29 PM
   Author     : Lahiru Sanka
*/

#indexbody{
    width: 97%;
    background-color: #dadbe3;     
    margin: 0px 20px 0px 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    float: left;
}
#progressbar{
    margin-top: 25px;
    height: 5px;
    width: 98.3%;
}
#tarea{
    width: 98.3%;
    margin-top: 20px;
    height: 260px;
    float: left;
    margin-bottom: 20px;
}

#uploadHr{
    width: 38%; 
    float: left;
    margin-right: 20px;    
    margin-bottom: 20px;
}

#uploadHrText{
    float: left; 
    margin-right: 20px;    
    margin-bottom: 20px;
}

#uploadhrlRight{
    float: left; 
    width: 38%; 
    margin-right: 20px;    
    margin-bottom: 20px;
}
#btnSubmit{
    width: 98.3%;
    margin-top: 20px;
    background-color: #081857bd;
    border-color: #081857bd;
}


@media only screen and (max-width: 800px) {

    #uploadHr{
      width: 0%; 
    }

}







